.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 500ms var(--timing-function), visibility 500ms var(--timing-function);
  &.is-hidden {
    .modal {
      transform: scale(1.5);
      transition: transform 500ms;
    }
  }
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--second-title-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: scale(1);
  transform: translate(-50%, -50%);
  transition: transform 500ms var(--timing-function);
}

.modal__close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    fill: #2196f3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
  margin-bottom: 12px;
}

.modal__field {
  margin-bottom: 10px;
}
.modal__comment {
  margin-bottom: 20px;
}

.input__wrap {
  position: relative;
}

.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.input__date {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 42px;
  padding-right: 10px;
  color: var(--main-text-color);
  outline: none;
  transition: border-color 250ms var(--timing-function);
  &:focus {
    border-color: var(--accent-color);
  }
  &:focus + .input__icon {
    fill: var(--accent-color);
  }
}

.modal__thumb {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  display: block;
  margin-bottom: 4px;
}

.check__text {
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-contacts-color);
  display: flex;
  margin-bottom: 30px;
}

.check__item {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.check__icon {
  fill: #ffffff;
}
.policy__text,
.policy__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.policy__link {
  text-decoration-line: underline;
  color: #2196f3;
}

.modal__check:checked + .check__text {
  .check__item {
    background-color: var(--accent-color);
    border: none;
  }
  &:focus {
    accent-color: var(--accent-color);
    border: none;
  }
}

.modal__button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--second-title-color);
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
